:root{
  --secondry-color:#18181c;
  --primary-color:#080808;
  --basic-color:#ffffff;
  --highlight-color:#dfe31d;
}


.navbar{
  background-color: var(--secondry-color);
  color: var(--basic-color);
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}

.navbar-pages{
  width: 15%;
  display: flex;
  justify-content: space-between;

} 

.navbar button{
  background-color: var(--secondry-color);
  color: var(--basic-color);
  font-size: 1em;
}
.navbar button:hover{
  color: var(--highlight-color);
}

.cart-container button{
  display: flex;
  align-items: center ;
  gap: 10px;
}



/* Home Page */

.home-page-container{
  color: var(--basic-color);
  padding: 100px 0px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
}

.home-page-container button{
  margin-top: 70px;
  background-color:var(--highlight-color) ;
  padding: 20px;
  font-size: 0.5em;
  border-radius: 20px;
  font-weight: bold;
}




.shop-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding: 60px 100px;
}

.item-container{
  
  
  color: var(--basic-color);
}

.image-container{
  background-color: var(--secondry-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 20px;
}

.rating-container{
  display: flex;
  align-items: center;
  gap: 5px;
}

.price-tag{
  font-size: 1.2em;
  font-weight: bold;
}

.product-title{
  font-size: 1em;
  font-weight: lighter;
}
.discription-container{
  padding: 10px;
}
.discription-container > *{
  margin-bottom: 5px;
}

.rate-cart{
  display: flex;
  justify-content: space-between;
}

.rate-cart button{
  background-color: var(--primary-color);
  color: var(--basic-color);
}

.rate-cart button:hover{
  color: var(--highlight-color);
}

.item-container img{
  width: 50%;
  padding: 30px;
}