:root{
  --secondry-color:#18181c;
  --primary-color:#080808;
  --basic-color:#ffffff;
  --highlight-color:#dfe31d;
}

a{
  text-decoration: none;
}

button{
  background-color: var(--secondry-color);
  color: var(--basic-color);
  font-size: 1em;
}

button:hover{
  color: var(--highlight-color);
}

.navbar{
  background-color: var(--secondry-color);
  color: var(--basic-color);
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  position: relative;
}

.navbar-pages{
  width: 50%;
  display: flex;
  gap: 50px;

} 

.navbar button{
  font-size: 1em;
}

.cart-container button{
  display: flex;
  align-items: center ;
  gap: 10px;
}

.drop-down-container{
  position: relative;
}

.drop-down-container> button{
  background-color: var(--primary-color);
}

.drop-down{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: 3px;
  width: 120px;
  background-color: var(--secondry-color);
  z-index: 100;
}

.drop-down button{
  padding: 10px 20px;
}


/* Home Page */

.page-container{
  color: var(--basic-color);
  padding: 100px 0px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
}

.page-container button{
  margin-top: 70px;
  background-color:var(--highlight-color) ;
  color: var(--primary-color);
  padding: 20px;
  font-size: 0.5em;
  border-radius: 20px;
  font-weight: bold;
  transform: scale(1);
  transition: transform 0.1s ease-out;
}

.page-container button:hover{
  transform: scale(1.1) ;
}



/* shop page */
.shop-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  padding: 60px 100px;
}

.item-container{
  color: var(--basic-color);
  transform: scale(1);
  transition: transform 0.2s ease-out;

}

.item-container:hover{
  transform: scale(1.05);
}

.image-container{
  background-color: var(--secondry-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 20px;
}

.rating-container{
  display: flex;
  align-items: center;
  gap: 5px;
}

.price-tag{
  font-size: 1.2em;
  font-weight: bold;
}

.product-title{
  font-size: 1em;
  font-weight: lighter;
}
.discription-container{
  padding: 10px;
}
.discription-container > *{
  margin-bottom: 5px;
}

.rate-cart{
  display: flex;
  justify-content: space-between;
}

.rate-cart button{
  background-color: var(--primary-color);
}


.item-container img{
  width: 50%;
  padding: 30px;
}

.number-selector{
  display: flex;
  align-items: center;
  gap: 5px;
}
.number-selector button{
  background-color: var(--primary-color);
}


/* cart page */

.cart-list-container{
  color: var(--basic-color);
  padding: 60px 100px;
}

.cart-list-container>*{
  margin-bottom: 25px;
}

.list-container{
  background-color: var(--secondry-color);
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  border-radius: 30px;
}

.list-container .discription-container{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-container img{
  max-width: 100px;
}

.item-qty-container{
  display: flex;
  align-items: center;
  gap: 10px;
}

.list-container .item-title{
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}


/* Loading screen */

.loading-screen{
  font-size: 5em;
  color: var(--basic-color);
  padding: 200px;
  padding-left: 40%;
}



.loading-screen::after{
  content: "";
  animation: ellipse 1s  infinite;
}

@keyframes ellipse {
    from{
      content: "";
    }
    
    25%{
      content: ".";
    }

    50%{
      content: "..";
    }
    75%{
      content: "...";
    }
    to{
      content: "";
    }
}




@media(max-width:1200px){
  .shop-container{
    grid-template-columns: repeat(3,1fr);
  }
}

@media(max-width:1000px) {
  .shop-container{
    grid-template-columns: repeat(2,1fr);
  }
  .list-container .discription-container{
    flex-direction: column;
    align-items: start;
  }
  .list-container img{
    margin-right: 50px;
  }
  .list-container .item-title{
    width: 300px;
    text-align: start;
  }

}

@media(max-width:750px){
  .navbar{
    background-color: var(--primary-color);
  }
  .cart-container button{
    background-color: var(--primary-color);
  }
  .shop-container{
    padding: 20px;
  }

  .cart-list-container{
    padding: 60px 20px;
  }

  .list-container{
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .list-container img{
    max-width: 200px;
    height: 200px;
    margin: 0px;
  }

  .list-container .item-title{
    width: 200px;
    text-align: start;
  }


}

@media (max-width:500px){
  .shop-container{
    grid-template-columns: repeat(1,1fr);
  }
  .image-container{
    height: auto;
  }
}